.calc {
    margin: -20px auto 0 auto;
    width: 98%;
    padding-top: 10px;
}

.calc #buttonDiv button, .calc .user-input-wrapper button {
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    background-color: #e0e0e0;
}

.calc #buttonDiv button:hover, .calc .user-input-wrapper button:hover {
    background-color: #d5d5d5;
}

.paper {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

#buttonDiv {
    position: relative;
    margin-bottom: 5px;
}

#inputButton {
    margin-top: -10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 5px 10px;
}

.characterCard {
    display: flex;
    width: 95%;
    margin:auto;
    margin-bottom: 10px;

}

.characterCard>div:first-child {
    width: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.characterCard>div:last-child {
    padding: 10px;
    width: 70px;
    height: 70px;
    position: inherit;
    margin: auto;
}

.user-input-wrapper {
    width: 100%;
    transform: scale(.9);
}

/* .input-wrapper-collapse {
    overflow: visible !important;
} */

.user-input-box {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
}

#selectionBoxes {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#realmSelector {
    width: 100%;
    margin-bottom: 10px;
    z-index: 10;
}

#name {
    margin: 8px 0;
    width: 100%;
}

#name>div>div input {
    padding: 15px;
}

#name label {
    background-color: white;
}

#hiddenTypes {
    width: 100%;
}

.expacName:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.expacName  {
    margin: 6px 0;
}

.expacName h2 {
    width: 20%;
}

.expacName .progress-carat {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.expacName .expacProgress {
    width: 80%;
    display: inline-block;
    height: 8px;
}

.expacDetails {
    justify-content: center;
    flex-wrap: wrap;
}


@media screen and (min-width: 800px) {
    #buttonDiv {
        position: absolute;
        right: 1%;
    }

    #inputButton {
        margin-top: -10px;
        border-top-right-radius: 4px;
        padding: 5px 10px;
    }

    .calc .user-input-wrapper {
        width: 45%;
        margin: auto;
    }

    #selectionBoxes {
        width: 50%;
    }

    .characterCard {
        width: 40%;
    }

}
