.App-logo {
  height: 60px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 25px 0 15px 10px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.App-title {
  font-size: 1.5em;
}

.siteInfo {
    display: flex;
    width: 100%;
    justify-content: center;
}

header nav {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-right: 10px;
}

nav button {
    background-color: transparent;
    padding: 8px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    min-height: 36px;
    box-sizing: border-box;
    line-height: 1.4em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    border-radius: 4px;
    text-transform: uppercase;
    border: 0;
}

nav a button:hover {
    background-color: rgba(255,255,255,0.1) !important;
}

button a:visited {
    color: white;
}

nav button {
    color: white !important;
}

@media screen and (min-width: 800px) {
    .App-header {
      padding: 25px 0 0 30px;
    }

    .siteInfo {
        width: 45%;
        justify-content: flex-start;
    }

    header nav {
        width: 45%;
    }
}
