@media screen and (min-width:501px) {
    .user-input-wrapper.popout {
        position: absolute;
        left: 25%;
        top: 30%;
        width: 52%;
        border: 2px solid grey;
        box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.2), inset 0px 0px 4px black ;
        border-radius: 4px;
    }

    .popout .user-input-box {
        width: 95%;
    }

    .popout #name {
        margin: 0;
    }

}
@media screen and (max-width: 500px) {
    .user-input-box {
        width: 90%;
    }

    #realmSelector {
        min-width: 100%;
    }

    input[type=checkbox] {
        transform: scale(1.5);
    }

    #hiddenTypes {
        margin: 5px;
    }

    .App .reputations {
        width: 95%;
    }

    .reputations .rep {
        width: 95%;
    }
}

@media screen and (max-width:700px) {
    .expac h2 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .expac span.progress-carat {
        width: 100%;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.Submitted-app-header {
  background-color: #222;
  height: 60px;
  padding: 15px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.Submitted-app-header .siteInfo {
    width: 49%;
    align-self: center;
}

.Submitted-app-header .App-logo {
    float: left;
    height: 50px;
}

.Submitted-app-header h1 {
    width: 70%;
    margin: 5px 0;
}

.Submitted-app-header .characterInfo {
    width: 49%;
    align-self: center;
    text-align: right;
}
.Submitted-app-header .characterInfo h2{
    width: 49%;
    text-align: right;
    margin-left: auto;
    margin-right: 75px;
}

.Submitted-app-header .characterInfo img {
    height: 60px;
    width: 60px;
    float: right;
}

.user-input-box {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

#selectionBoxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#realmSelector {
    width: 40%;
}

#name {
    margin: 8px 0;
}

input[type="text"] {
    font-size:18px;
}

input[type=checkbox] {
    margin-left: 8px;
    margin-bottom: 2px;
    transform: scale(1.3);
}

.reputations {
    width: 80%;
    margin: auto;
    padding: 2px 0;
    /*background-color: #EDE3F9;*/
    border-radius: 25px;
}

.expac {
    /*background-color: #EDE3F9;*/
    border-radius: 5px;
}

.fas {
    color: #474747;
}

.expac>i {
    margin-left: 10px;
}

progress[value] {
    border-radius: 5px;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-moz-progress-bar {
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    border-radius: 5px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

.alliance progress[value]::-webkit-progress-value {
    background-color: #10276B;
}

.alliance progress[value]::-moz-progress-bar {
    background-color: #10276B;
}

.horde progress[value]::-webkit-progress-value {
    background-color: #7F0302;
}

.horde progress[value]::-moz-progress-bar {
    background-color: #7F0302;
}

.vanilla progress[value]::-webkit-progress-value {
    background-color: #E5B46F;
}

.vanilla progress[value]::-moz-progress-bar {
    background-color: #E5B46F;
}

.bc progress[value]::-webkit-progress-value {
    background-color: #536F44;
}

.bc progress[value]::-moz-progress-bar {
    background-color: #536F44;
}

.wrath progress[value]::-webkit-progress-value {
    background-color: #5283BD;
}

.wrath progress[value]::-moz-progress-bar {
    background-color: #5283BD;
}

.cata progress[value]::-webkit-progress-value {
    background-color: #F98A23;
}

.cata progress[value]::-moz-progress-bar {
    background-color: #F98A23;
}

.mop progress[value]::-webkit-progress-value {
    background-color: #8ED4A2;
}

.mop progress[value]::-moz-progress-bar {
    background-color: #8ED4A2;
}

.wod progress[value]::-webkit-progress-value {
    background-color: #761501;
}

.wod progress[value]::-moz-progress-bar {
    background-color: #761501;
}

.legion progress[value]::-webkit-progress-value {
    background-color: #7E58AD;
}

.legion progress[value]::-moz-progress-bar {
    background-color: #7E58AD;
}

.rep {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    margin-top: -1px;
    padding: 0 5px;
    flex-wrap: wrap;
    border: 1px solid #aaa;
    border-radius: 5px;

}

.rep>.rewards {
    width: 100%;
    /* border-right: 1px solid grey;
    border-left: 1px solid grey; */
    border-radius: 5px;
}

.react-tabs {
    border-radius: 5px 5px 0 0;
}

.react-tabs .react-tabs {
    border: 0;
}

.react-tabs__tab-list {
    border-bottom: 1px solid #aaa;
    border-radius: 5px 5px 0 0;
    margin: 0;
    padding-top: 10px;
}

.react-tabs .react-tabs .react-tabs__tab-list {
    border-radius: 0;
}

.react-tabs__tab {
    display: inline-block;
    border: 1px solid grey;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
    margin-right: 3px;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab--selected {
    background-color: #F0ECFF;
}

.react-tabs__tab-panel--selected .react-tabs__tab-panel--selected {
    padding: 10px 0;
    min-height: 40px;
}

.rep>* {
    width: 28%;
}

.repName {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.repName>p {
    margin-left: auto;
    margin-right: 10px;
    margin-top: 1.4em;
}

.repName>i {
    margin-top: 1.4em;
}

.hidden {
    display: none;
}
