@media screen and (min-width:501px) {
    .user-input-wrapper.popout {
        position: absolute;
        left: 25%;
        top: 30%;
        width: 52%;
        box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.2), 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
    }

    .popout .user-input-box {
        width: 95%;
        margin: 10px;
    }

    .popout #name {
        margin: 0;
    }

}
@media screen and (max-width: 500px) {

    .App .Submitted-app-header .siteInfo {
        width: 100%;
    }

    .Submitted-app-header .siteInfo h1 {
        width: 100%;
        font-size: 26px;
    }

    .Submitted-app-header .characterInfo {
        display: none;
    }

    .user-input-box {
        width: 90%;
    }



    input[type=checkbox] {
        transform: scale(1.5);
    }

    #hiddenTypes {
        margin: 5px;
    }

    .App .reputations {
        width: 95%;
    }
}

@media screen and (max-width:700px) {
    #realmSelector {
        min-width: 100%;
    }

    .expac h2 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .expac span.progress-carat {
        width: 100%;
    }
}

a:-webkit-any-link {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.reputations {
    width: 80%;
    margin: auto;
    padding: 2px 0;
    /*background-color: #EDE3F9;*/
    border-radius: 25px;
}

.expac {
    /*background-color: #EDE3F9;*/
    border-radius: 5px;
}

.fas {
    color: #474747;
}

.expac>i {
    margin-left: 10px;
}

progress[value] {
    border-radius: 5px;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-moz-progress-bar {
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    border-radius: 5px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

.expacPanel .expacName .progress-carat>div {
    background-color: rgba(0, 0, 0, 0.1);
}

.alliance .expacProgress>div {
    background-color: #10276B;
}

.horde .expacProgress>div {
    background-color: #7F0302;
}

.vanilla .expacProgress>div {
    background-color: #E5B46F;
}

.bc .expacProgress>div {
    background-color: #536F44;
}

.wrath .expacProgress>div {
    background-color: #5283BD;
}

.cata .expacProgress>div {
    background-color: #F98A23;
}

.mop .expacProgress>div {
    background-color: #8ED4A2;
}

.wod .expacProgress>div {
    background-color: #761501;
}

.legion .expacProgress>div {
    background-color: #7E58AD;
}

.bfa .expacProgress>div {
    background-color: #860086;
}

.hidden {
    display: none !important;
}
